@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-background text-slate-200 antialiased selection:bg-primary/30 selection:text-white;
  }
}

@layer utilities {
  .bg-glass {
    @apply bg-white/5 backdrop-blur-md border border-white/10;
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
